<ul id="post-list" class="archive readmore">
    
    {{ if .Site.Params.enableEmailSubscription }}
		<iframe src="https://kaichao.substack.com/embed" id="email-subscribe" width=100% height="320" style="border:1px solid #EEE; background:white; margin-top: 60px;" frameborder="0" scrolling="no"></iframe>
    {{ end }}
    
    <h3>{{ .Site.Params.readMore | default "Read more" }}</h3>

    {{ $kind := where .Site.RegularPages "Section" "!=" "" }}
    {{ $othr := where $kind "Permalink" "!=" .Permalink }}
    {{ range first 20 $othr }}
        <li>
            <a href="{{ .Permalink }}">{{ .LinkTitle }}<aside class="dates">{{ .Date.Format "Jan 2 2006" }}</aside></a>
        </li>
    {{ end }}
</ul>
