<nav class="main-nav">
	<a href='{{ "/" | relURL }}'> {{ if not .IsHome }}<span class="arrow">←</span>{{ end }}{{ .Site.Params.home | default "Home" }}</a>

	{{ range .Site.Menus.main }}
 		{{ if eq .Name "Products" }}
 		<a href='{{ .URL }}' class="nav-highlight">{{ .Name }}<span class="nav-badge">New</span></a>
 		{{ else }}
 		<a href='{{ .URL }}'>{{ .Name }}</a>
 		{{ end }}
  	{{ end }}

	<!-- <a href="/resume">Resume</a> -->

	{{ if .Site.Params.enableEmailSubscription }}
		{{ if eq .Permalink "/about/" }}
			<a class="cta" href="{{ .Site.Params.EmailSubscriptionAbsoluteLink }}">{{ .Site.Params.emailSubscription | default "Email Subscribe" }}</a>
		{{ else }}
			<a class="cta" href="{{ .Site.Params.EmailSubscriptionLink }}">{{ .Site.Params.emailSubscription | default "Email Subscribe" }}</a>
		{{ end }}
	{{ end }}

	{{ if .Site.Params.enableRSS }}
		{{ with .OutputFormats.Get "RSS" }}
		<a class="cta" href="{{ .Permalink }}">{{ $.Site.Params.rss_subscription | default "RSS" }}</a>
		{{ end }}
	{{ end }}

</nav>
